@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-brand: 17 24 39;
    --primary-font-family: 'Poppins', sans-serif;
    --secondary-font-family: 'Inter', sans-serif;
  }
  html,
  body {
    @apply bg-body font-body antialiased dark:bg-dark dark:text-white;
    font-family: var(--primary-font-family);
  }
  .dynamic-html h6 {
    @apply font-medium uppercase;
  }
  .dynamic-html p {
    @apply mb-3;
  }
}

@layer utilities {
  .text-case-inherit {
    text-transform: inherit;
  }
  .letter-space-inherit {
    letter-spacing: inherit;
  }
  .word-break-all {
    word-break: break-all;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-700 {
    animation-delay: 700ms;
  }
  .text-vertical {
    writing-mode: tb;
    text-orientation: upright;
  }
}

/* Hide spin button for input type number */
input.spin-button-hidden::-webkit-outer-spin-button,
input.spin-button-hidden::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

/*==================================================
                Default
==================================================*/
/* Margin */
.margin-left-14 {
  margin-left: 14px !important;
}
/* Background */
.bg-leanear-gradient {
  background: linear-gradient(270deg, #ff6060 0%, #f99820 100%) !important;
}
/* Font Family */
.primary-font-family {
  font-family: var(--primary-font-family) !important;
}

/* Fontn Size */
.fs-8,
.font-size-8 {
  font-size: 8px !important;
}
.fs-10,
.font-size-10 {
  font-size: 10px !important;
}
.fs-12,
.font-size-12 {
  font-size: 12px !important;
}
.fs-14,
.font-size-14 {
  font-size: 14px !important;
}
.fs-36,
.font-size-36 {
  font-size: 36px !important;
}
/* Font Weight */
.fw-500,
.font-weight-500 {
  font-weight: 500 !important;
}
.fw-600,
.font-weight-600 {
  font-weight: 600 !important;
}

/* Cursor */
.cp,
.cursor-pointer {
  cursor: pointer !important;
}

/*================================================================
Styles for Swiper slider
================================================================*/
.swiper {
  @apply flex flex-col;
}

.swiper-wrapper {
  @apply order-first;
}

.swiper-scrollbar {
  @apply relative rounded bg-gray-200 dark:bg-gray-600;
}

.swiper-horizontal > .swiper-scrollbar {
  @apply z-10 mt-4 mb-0 h-0.5 w-full sm:mt-6;
}

.swiper-vertical > .swiper-scrollbar {
  @apply absolute top-0 right-1 z-10 h-full w-0.5;
}

.swiper-scrollbar-drag {
  @apply relative rounded bg-gray-900 dark:bg-light-dark;
}

.swiper-horizontal .swiper-scrollbar-drag {
  @apply top-[-1px] left-0 h-[3px] w-full shadow-sm;
}

.swiper-vertical .swiper-scrollbar-drag {
  @apply left-[-1px] top-0 h-full w-[3px] shadow-sm;
}

.swiper-scrollbar-cursor-drag {
  @apply cursor-move;
}

.swiper-scrollbar-lock {
  @apply hidden;
}

.transaction-table {
  border-spacing: 0 12px;
  margin-top: -12px;
}
.transaction-table > thead tr > th {
  text-align: left;
}
.text-heading-style {
  @apply text-sm font-medium tracking-wider;
}

/* React Share button custom styles */
.product-share .react-share__ShareButton {
  @apply flex flex-col items-center justify-center;
}

/* Scroll BAR */
/* width */
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1b0d6b;
  opacity: 1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #8b76ff;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.myBox {
  text-align: center;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    rgba(255, 249, 34),
    rgba(255, 0, 128),
    rgba(93, 9, 248, 0.575)
  );
  border-image-slice: 1;
  width: 100%;
}
.myImg {
  background-image: url('/assets/background-image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.background {
  background-image: linear-gradient(
    to right,
    #f9c72d,
    #f05a2a,
    #f1573f,
    #f147a3,
    #2eede0
  );
}
.vector3 {
  /* position: absolute;
  width: 1071.79px;
  height: 1054.88px;
  left: 1037.49px;
  top: 1199.28px; */
  background-image: radial-gradient(
      111.63% 111.63% at 42.64% -5.82%,
      #fe8b18 36.35%,
      #8031fe 76.41%,
      #7f30ff 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  /* filter: blur(300px);
  transform: rotate(172.68deg); */
}

table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font-family: Mulish, sans-serif;
  overflow: auto;
}
th,
td {
  /* padding: auto; */
  text-align: center;
}
th {
  color: #4b5563;
  font-size: small;
}
td {
  color: #d1d5db;
  border-bottom: 1px solid #374151;
  font-size: 12px;
  padding-top: 1rem; /* 8px */
}

::-webkit-input-placeholder {
  /* Edge */
  /* color: white; */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  /* color: white; */
}

/* input::placeholder {
  color: white;
} */

/* Swap */
.main-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.coin-icon {
  position: relative;
}

.coin-icon::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 21px;
  height: 21px;
  background: #8877f1;
  border: 1px solid #181e2e;
  border-radius: 50%;
}

.coin-icon::after {
  content: '';
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  border: 1.5px solid #8877f1;
}

.route-box {
  width: 209px;
  border: 2px solid #8877f1;
  border-radius: 20px;
  position: relative;
}
.route-box::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  width: 30px;
  height: 1px;
  background-color: rgba(136, 119, 241, 0.5);
}
.route-box::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  width: 30px;
  height: 1px;
  background-color: rgba(136, 119, 241, 0.5);
}
.route-box:first-child::before {
  display: none;
}
.one-route-box::before {
  display: block !important;
  left: -100px;
  width: 100px;
}
.one-route-box::after {
  right: -100px;
  width: 100px;
}
.route-box-top {
  padding: 16px 12px 7px;
}
.coin-code-name {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.route-box-bottom {
  padding: 8px 10px 16px 11px;
  background: #232256;
  border-radius: 0px 0px 20px 20px;
}
.swap-exchange {
  margin-top: 8px;
}
.swap-exchange:first-child {
  margin-top: 0px;
}
.swap-exchange-name p {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8877f1;
}

/* Coin Search dialog */
.coin-dialog {
  background: #0d131f;
  border-radius: 20px;
  overflow: hidden;
}
.coin-dialog-header {
  background: #181e2e;
  border-radius: 20px 20px 0px 0px;
  position: relative;
}
.close-btn {
  position: absolute;
  top: 13px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: url('/close.svg');
  transition: all 0.3s;
}
.close-btn:hover {
  background: url('/close-hover.svg');
}
.coin-dialog-header::after .coin-dialog-header-title {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fafafa;
}
.coin-search-container {
  padding: 24px;
}
.search-icon {
  color: rgba(136, 119, 241, 0.45);
}
.coin-search-input {
  background: #181e2e;
  border: 1px solid rgba(136, 119, 241, 0.2);
  border-radius: 10px;
  color: rgba(136, 119, 241, 0.45) !important;
  transition: all 0.3s;
}

/* ::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder,
::placeholder {
  color: rgba(136, 119, 241, 0.45) !important;
} */

.coin-search-input:focus,
.coin-search-input:active {
  border-color: #8877f1;
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}

.coin-divider {
  border: 1px solid rgba(136, 119, 241, 0.2);
}
.coin-list-item {
  transition: all 0.3s;
}
.coin-list-item:hover,
.coin-list-item:focus {
  background-color: #181e2e !important;
}

/* Header Wallet Connect */
.header-wallet-connect button,
.swap-wallet-connect button {
  background: transparent !important;
  box-shadow: none !important;
  border: 1px solid #feb58d !important;
  border-radius: 30px !important;

  font-family: var(--primary-font-family) !important;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  color: #ffffff !important;
}

.swap-wallet-connect button {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, #ff6060 0%, #f99820 100%) !important;
}

.header-wallet-connect button > div {
  border: 0 !important;
  color: #ffffff !important;
}

.header-wallet-connect button div:nth-child(2) {
  border: 0 !important;
  color: #ffffff !important;
  background-color: transparent;
}

.swap-balance.disabled {
  background: gray !important;
}

@media only screen and (max-width: 500px) {
  .main-bg {
    background-position: -900px center;
  }

  .coin-icon::before {
    display: none;
  }

  .coin-icon::after {
    display: none;
  }

  .route-box {
    width: 140px;
  }
  .route-box::before {
    display: none;
  }
  .route-box::after {
    display: none;
  }
  .one-route-box::before {
    display: none !important;
  }

  .swap-exchange-name p {
    font-size: 12px;
  }
}
